<div class="products">
    <div class="product-page">
        <a href="/">Voltar</a>
        <h1>{{product.name}}</h1>
        <img src="{{event.image}}" alt="{{event.name}}">
        <p><span>Preço:</span> R${{product.price}}</p>
        <p><span>Descrição:</span> {{product.description}}</p>
    </div>
    <div class="actions-product">
        <a href="/edit/{{product._id}}"><button class="btnProduct-edit">Editar</button></a>
        <form action="/remove/{{product._id}}" method="POST">
            <input type="submit" value="Remover" class="btnProduct-remove">
        </form>
    </div>
</div>